.normal{
    background-color: var(--color-messagebkg-normal); 
    .msg-body{
        color: var(--color-message-nor-text);
    }
}

.success{
    background-color: var(--color-messagebkg-success);
    .msg-body{
        color: var(--color-message-suc-text);
    }
}

.error{
    background-color: var(--color-messagebkg-error);
    .msg-body{
        color: var(--color-message-err-text);
    }
}

.warning{
    background-color: var(--color-messagebkg-warning);
    .msg-body{
        color: var(--color-message-war-text);
    }
}

.my-message{
    position: absolute;
    left: 50%;
    top:0px;
}

.message-container{
    animation-name: showup;
    animation-duration: .3s;
    animation-fill-mode: forwards;
}

@keyframes showup {
    from{
        top:-42px;
    }
    to{
        top:10px;
    }
}